#main-wrapper {
  max-width: none;
}
#main-wrapper * {
  margin: 0 !important;
  padding: 0 !important;
}
#main-wrapper .swiper-container {
  width: 100vw;
  height: 100vh;
}
#main-wrapper .swiper-container .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-wrapper .swiper-container .swiper-wrapper .swiper-slide article {
  max-width: 600px;
  margin: 100px auto !important;
}

pre {
  position: absolute;
}

/*# sourceMappingURL=el_book_swiper.css.map */
