#main-wrapper {
  max-width: none;

  * {
    margin: 0 !important;
    padding: 0 !important;
  }

  .swiper-container {
    width: 100vw;
    height: 100vh;

    .swiper-wrapper {
      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;

        article {
          max-width: 600px;
          margin: 100px auto !important;
        }
      }
    }
  }
}

pre{
  position: absolute;
}
