<!-- Slider main container -->
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div id="el-book-swiper" class="swiper-wrapper" data-total="{{ total }}">
    <!-- Slides -->
{#    {{ kint(slide_items) }}#}
    {% for slide in slide_items %}
{#      {{ kint(slide.nid) }}#}
      {% if slide is not null and slide is defined %}
        <div class="swiper-slide" id="node-{{ slide.nid }}" data-node="{{ slide.nid }}" data-history="{{ slide.url }}">{{ drupal_entity('node', slide.nid) }}</div>
      {% endif %}
    {% endfor %}
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
