<!-- Slider main container -->
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div id="el-book-link" class="swiper-link-wrapper el-swiper-nav-links" data-total="{{ total }}">
    <a href="{{ parent_url }}" class="swiper-node-9">{{ parent_title }}</a>
  </div>
  <div id="el-book-swiper" class="swiper-wrapper" data-total="{{ total }}">
    <!-- Slides -->
    {% for slide in slide_items %}
      {% if slide is not null and slide is defined %}
        <div class="swiper-slide" id="node-{{ slide.nid }}" data-node="{{ slide.nid }}" data-history="{{ slide.url }}">{{ drupal_entity('node', slide.nid, 'swiperslide') }}</div>
      {% endif %}
    {% endfor %}
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
